header
  nav.links
    .dropdown
      span Menu
      #burger
        span &nbsp;
        span &nbsp;
        span &nbsp;
        span &nbsp;
      ul
        li
          a(href="/") Home
        li.dark
        li
          block link2
        li
          block link3
        li
          block link4
        br
    ul
      li
        a(href="/") Home
      li
        block link2
      li.desktop
        block logo
      li
        block link3
      li
        block link4
      br
      li.phone
        block logo
    span.dark
  block desktop
