head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="saqib.ml version 1")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title
    block title
    | #{''} &raquo; Saqib
  link(rel="shortcut icon", href="/images/icons/Cities.png", type="image/x-icon")
  link(rel="stylesheet", href="/main.css")
  script(defer, src="/main.js")
