extends ../layout.pug

block title
  | Academic Info

block link2
  a(href="/quran") Quran

block link3
  a(href="/academic") Academic

block link4
  a(href="/codes") Codes

block desktop
  h1 Academic Info
