extends ../layouts/default.pug

block title
  | Books

block link4
  a(href="/books") Books

mixin main(className)
  div(class=className)
    nav.books
      ul
        for book in books
          li
            a(href=book.href, target="_blank")= book.text

block desktop
  h1 Books
  +main('desktop')

block content
  +main('phone')
