.row {
    height: 200px;
    width: 50vw;
    margin: 100px auto;
    text-align: center;
}
.row a {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 3.5vw;
    padding: 0;
    color: wheat;
    border: 1px solid wheat;
    border-radius: 50%;
}
.row a:hover {
    background-color: wheat;
}
.row span {
    height: 50px;
    width: 100px;
    display: block;
    margin: 40px 0;
    text-align: center;
    cursor: pointer;
}
.row a:hover span {
    color: rgb(44, 44, 44);
}
.phone .row {
    height: max-content;
}
.phone .row {
    margin-top: 200px;
}
.phone .row a {
    color: rgba(0, 0, 0, 0.5);
    background-color: wheat;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}
.phone span {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.5);
}
.phone .row a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: wheat;
}
.phone a:hover span {
    color: wheat;
}
.docs-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px auto 0;
    padding: 20px;
}
article {
    text-align: justify;
    padding: 20px;
}
p * {
    height: 20px;
    padding: 20px 0;
}
.eng {
    font-family: 'Ubuntu Light';
}
.ban {
    font-family: 'Siyam Rupali';
}
.ara {
    font-family: 'Calibri Light', sans-serif;
    font-size: 21px;
}
.center {
    text-align: center;
    width: 80%;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 50px;
}
figure {
    margin: 0;
    padding: 0;
    width: 70vw;
}
figure img {
    width: 90%;
}
img:hover {
    width: 100%;
}
a * {
    cursor: pointer;
}

/* @font-face... */
@font-face {
    font-family: 'Ubuntu Light';
    src: url('images/Ubuntu-Light.ttf');
}
@font-face {
    font-family: 'MyArabic';
    src: url('images/MyArabicFont.ttf');
}
@font-face {
    font-family: 'Siyam Rupali';
    src: url('images/Siyamrupali.ttf');
}
