section.quran {
    font-size: larger;
    font-weight: bold;
    width: 90vw;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
    width: 900px;
    float: right;
    margin: 50px auto;
}
.row ul {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-inline-start: 5px;
}
.row ul li {
    height: 60px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
    cursor: pointer;
}
.row ul li:hover, .row li:hover * {
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    color: rgb(15, 15, 15);
}
.dark-mode .row ul li:hover, .dark-mode .row li:hover * {
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
}
.row span {
    display: inline-block;
    cursor: pointer;
}
.num {
    color: #d1d0d0;
    font-size: 16px;
    width: 10px;
}
.eng {
    margin-left: 25px;
    width: 150px;
}
.ara {
    font-family: "Calibri Light", sans-serif;
    text-align: right;
    margin-left: 0px;
    width: 90px;
}
.mng {
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 0;
    font-size: 13px;
    text-transform: uppercase;
    width: 250px;
    overflow: hidden;
    cursor: pointer;
}
/* @media screen and... */
@media screen and (max-width: 1005px) {
    section.quran {
        font-size: 16px;
    }
    .row {
        width: 80vw;
        display: block;
        margin: 50px auto;
    }
    .row ul {
        width: 80vw;
    }
    .eng {
        width: 45vw;
        margin-left: 45px;
    }
    .ara {
        width: 20vw;
    }
    .mng {
        width: 60vw;
        margin-left: 55px;
    }
}
@media screen and (max-width: 630px) {
    .eng {
        width: 40vw;
        margin-left: 50px;
    }
    .mng {
        margin-left: 60px;
    }
}
@media screen and (max-width: 425px) {
    .eng {
        margin-left: 30px;
    }
    .mng {
        margin-left: 40px;
    }
}
/* @font-face... */
@font-face {
    font-family: 'Ubuntu Light';
    src: url('images/Ubuntu-Light.ttf');
}
@font-face {
    font-family: 'MyArabic';
    src: url('images/MyArabicFont.ttf');
}
